.bot-image {
  width: 135px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.image-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-in-out;
}

.image-modal {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-image {
  width: 100%;
  border-radius: 10px;
}

.modal-close {
  width: 30px;
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: transparent;
}

.close-icon {
  width: 100%;
}

@media (max-width: 650px) {
  .image-modal {
    top: 30%;
  }
  .modal-close {
    right: 20px;
  }
}
