.modal {
  background-color: #fff;
  min-width: 290px;
  padding: 40px 30px 30px 20px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.modal-col:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.modal-title {
  color: #4c4d56;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.modal-input {
  border: 1px solid #adafbc;
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  padding: 3px 10px;
}

.modal-input:focus {
  border: 1px solid #4c4d56;
  transition: all 0.3s ease-in-out;
}

.modal-btn__start {
  min-height: 35px;
  padding: 3px 20px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  background-color: #4c4d56;
  color: #fff;
}

.modal-btn__start:hover {
  background-color: #414249;
}

@media (max-width: 610px) {
  .modal-title {
    font-size: 1.3em;
  }
}
